<body>
        <div class="container-fluid" > 
          <div class="row">
            <!-- <div class="col-2">
              <h3>LOGO</h3>
            </div> -->
            <div class="col-8">
              <!-- <div>{{player.name}}</div> -->
              <h1>{{player.name}}</h1>
              <p class="h6">
                <b>Height:</b> {{player.height}}  <b>Weight:</b> {{player.weight}} <br> 
                <b>College:</b> {{player.college}} <b>Hometown:</b> {{player.hometown}} <br> <!--
                <b>Did you know?:</b> {{player.fact}} <br>
                <b>Team: </b> {{player.team}}  -->
                <b> Trending Rank: </b> {{player.trend_rank}} <b> Fan Rank: </b> {{player.vote_rank}} <br>
                <br>
                A versatile defender and athletic leaper who is already capable of playmaking and transition scoring—the hallmarks of an NBA point guard.
              </p>
            </div>
            <div class="col-4"> 
              <img src="../assets/md.jpg" class="rounded-circle" style="width:80%">
            </div>
          </div>
          <p align="center">  
          <iframe width="40%" height="auto" frameborder="0" align="middle"
                src="https://www.youtube.com/embed/R3iMuqwRtpg">
            </iframe>
          </p>
          <div class="row">
            <div class="col"><a href={{player.twitter_url}} target="_blank"><img src="../assets/twitter.png" style="width:30%"></a></div>
            <div class="col"><a href={{player.instagram_url}} target="_blank"><img src="../assets/ig.png" style="width:30%"></a></div>
            <div class="col"><a href={{player.stats}} target="_blank"><img src="../assets/stats.png" style="width:30%"></a></div>
            <div class="col"><a href="www.example.com" target="_blank"><img src="../assets/book.jpg" style="width:30%"></a></div>
          </div>
        </div>
        <div class="container">
        <app-player-feed></app-player-feed>    
        </div>
    
      </body>