  
  <h1>What is Matchups?</h1> 

  <p>
    Matchups is a new way for people to collectively contribute to an overall ranking of anything. This is done by 
    giving each item a base rating and using the <a href="https://en.wikipedia.org/wiki/Elo_rating_system">elo rating 
    system</a> to compare them. This comparison calculates the expected outcome based on both ratings and changes
    both accordingly. Performing this calculation with many user's choices will (hopefully) yield accurate 
    rankings of everything.
  </p>    
  <p>
    Matchups is built upon users adding lists and items. Go <a routerLink="/">HERE</a> to see the lists of items and go 
    <a routerLink="/create-list">HERE</a> to add a list. 
  </p>  
  <p>  
    Thanks for checking us out and stay tuned for many updates! 
  </p>

