<div class="container">
  
<h1 style="margin:0;">
  How This Works
</h1> 
<p style="padding:5%">
  Matchups is a new way for people to collectively contribute to an overall ranking of anything. This is done by giving 
  each thing a rating and then using the <a href="https://en.wikipedia.org/wiki/Elo_rating_system">elo rating system</a>
  to rank them by their rating. It does this by allowing users to simply make a choice between two things. This choice then changes each of their ratings 
  accordingly.
  <br>
  <br>
  As of now, Matchups only works for NBA players, but more things to rank will be added soon. We will be adding
  a way to upload your own lists and elements as well. Also, the app is best viewed on a mobile device.
  <br>
  <br>  
  Thanks for checking out the app! 

        
</p>

</div>