<nav class="py-0 navbar navbar-expand-sm navbar-dark" style="background-color: #1b87e5; min-height: 41px">
  <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">
    <img src="../assets/logo.png" width="30" height="30" alt="">
  </a>
  <button style="padding: 0" class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
  [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon" style="height: 15px; width: 15px; padding-bottom: 4px;"></span> -->
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Persistent button -->
  <!-- <div class="navbar-header pull-right">
    <ul class="nav navbar-nav pull-left">
      <li class="active"><a href="">No Collapse</a> </li>
    </ul>
  </div> -->

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="navbarCollapsed = true"  routerLink="/feed">Feed</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="navbarCollapsed = true"  routerLink="/create-list">Add List</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="navbarCollapsed = true"  routerLink="/what-is-matchups">What is Matchups?</a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="navbarCollapsed = true"  routerLink="/all-lists">All Lists</a>
      </li> -->
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="navbarCollapsed = true"  routerLink="/help">Help</a>
      </li>
      <li class="nav-item">
 	<a *ngIf="!loggedIn" class="nav-link" style="cursor: pointer;" (click)="open(content)">Sign In/Up</a>
        <a *ngIf="loggedIn" class="nav-link" style="cursor: pointer;" (click)="open(content)">Profile</a> 
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
 
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="!showLogin && !loggedIn" class="modal-title">Sign Up for Matchups</h4>
    <h4 *ngIf="showLogin && !loggedIn" class="modal-title">Sign In to Matchups</h4>
    <h4 *ngIf="loggedIn" class="modal-title">Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!showLogin && !loggedIn">
      <p><input type="text" placeholder="Username" [(ngModel)]="username"></p>
      <p><input type="email" placeholder="Email" [(ngModel)]="email"></p>
      <p><input type="password" placeholder="Password" [(ngModel)]="password"></p>
      <p><input type="password" placeholder="Confirm Password" [(ngModel)]="passwordConfirm"></p>
      <p><button type="button" class="btn btn-primary" (click)="signup()">Sign Up</button></p>
      <p><a style="cursor: pointer; text-decoration: underline;" (click)="goToLogin()">Already have an account? Sign in</a></p>
    </div>
    <div *ngIf="showLogin && !loggedIn">
      <!-- <form (submit)="login()"> -->
      <p><input type="text" placeholder="Username" [(ngModel)]="username"></p>
      <p><input type="password" placeholder="Password" [(ngModel)]="password"></p>
      <p><button type="button" class="btn btn-primary" (click)="login()">Sign In</button></p>
      <p><a style="cursor: pointer; text-decoration: underline;" (click)="goToLogin()">Create an account</a> 
         &nbsp; <a style="cursor: pointer; text-decoration: underline;">Forgot password?</a></p>
    </div>
    <div *ngIf="loggedIn">
      <p>Username: <b>{{this.username}}</b></p>
      <p>Email: <b>{{this.email}}</b></p>
      <button type="button" class="btn btn-primary" (click)="logout()">Log Out</button>
    </div>
  </div>
</ng-template>

<div class="container" class="text-center" style="padding-top:20%;">
  <p style="font-size:8px;">Made by <a href="http://danmallon.com">Dan</a>. <br>
  © {{year}} DM Matchups, LLC.</p>
</div>
