<div class="container text-right">
  <h1>
    Fan Rank
  </h1>   
  <ul class="list-group" dnd-sortable-container [sortableData]="players">
    <li *ngFor="let player of players; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
      <div class="row">
          <div class="col">
            Rank: {{i+1}} 
          </div>
           <div class="col">
            {{player.name}} Position: {{player.position}}
          </div>   
      </div>
    </li>
  </ul>
</div>


<div class="container row text-right">
    <div class="col">
      Rank: {{i+1}} 
    </div>
     <div class="col">
      name Position: {{player.position}}
    </div>   
</div>