<div class="container">
  <h1>
    Fan Rank
  </h1>   
  <ul class="list-group" dnd-sortable-container [sortableData]="players">
    <li *ngFor="let player of players; let i = index;" class="list-group-item" dnd-sortable [sortableIndex]="i">
      <div class="row">
        <div class="col-5">
          <img src="../assets/default.png" style="width:50%">
        </div>
        <div class="col-5">
            {{player.name}} 
            <p class="test">Position: {{player.position}}</p>
          </div>   
        <div class="col-2">
          <p> {{i+1}} </p>
        </div>
      </div>
    </li>
  </ul>
</div>
