<div class="container">
    <h1 style="margin:0;">
      Matchups
    </h1>   
    <div class="numToShow text-center">
      <div class="row">
        <div class="col">
            <p class="selector">
                <button [ngStyle]="{'color':matchupsText, 'background-color':matchupsBG}" (click)="goToMatchups()" type="button" class="btn"> Matchups</button> 
                <button [ngStyle]="{'color':ranksText, 'background-color':ranksBG}" (click)="goToRanks()" type="button" class="btn" >Ranks</button>
              </p> 
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p *ngIf="showMatchups" style="padding: 3%;margin: 0;font-size:12px;">
              Matchups from top <input style="width: 26px;color:blue" [(ngModel)]="numToShow" /> players
          </p> 
          <p *ngIf="showRank" style="padding: 3%;margin: 0;font-size:12px;">
            Show top <input style="width: 26px;color:blue" [(ngModel)]="numToShow" /> players
          </p> 
        </div>     
      </div>
      <div class="row" *ngIf="showMatchups">
        <div class="col-md-4">
          <a (click)="choose('a')">
            <img src={{playera.img}} style="width:60%; border:1px solid #000000"> 
            <p class="name">{{playera.name}}</p>
          </a>
        </div>
        <div class="col-md-4" style="padding: 3%;">
          <!-- <p style="padding: 10%;margin: 0;font-size: 40px;">Click to Vote</p> -->
          <img src='../assets/choose.png' style="width:25%; ">
        </div>
        <div class="col-md-4">
          <a (click)="choose('b')">
            <p class="name">{{playerb.name}}</p>
            <img src={{playerb.img}} style="width:60%; border:1px solid #000000">
          </a>
        </div>
      </div>
            <ul *ngIf="showRank" class="list-group" dnd-sortable-container [sortableData]="players">
                <li *ngFor="let player of players; let i = index;" class="list-group-item" (click)="choosePlayer(player)">
                  <div class="row">
                    <div class="col-5">
                      <img src={{player.url}} style="width:80%">
                    </div>
                    <div *ngIf=player.selected class="col-1" style="font-size:10px">
                      SELECTED
                    </div>
                    <div class="col-4">
                        {{player.first_name}} {{player.last_name}} 
                        <p class="test">Position: {{player.position}}</p>
                        <p style="font-size:12px;"> x votes this month</p>
                      </div>   
                    <div class="col-2">
                      <p> {{i+1}} </p>
                    </div>
                  </div>
                </li>
              </ul>
  </div>
</div>